
.left-menu{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 440px;
    max-width: 335px;
    z-index: 3;
    padding-left: 15px;
    padding-top: 15px;
    /* debug */
    /* border: solid red 7px; */
}

.btn {
  background-color: #eab2bb;
  color: white;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  width: 300px;
  font-size: 18px;
  transition: all 300ms;
  text-align: center;
  filter: drop-shadow(0 2px 2px #545454);
  margin: 10px;
  z-index: 4;
}

