
.footer{
  background-color: #545454;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 23px;
  display: flex;
  align-content: center;
  flex-direction: column;
  overflow-y: clip;
  transition: all 300ms;
  white-space: pre;
  z-index: 9999;
}
.footer:hover{
  height: 30px;
  font-size : 20px;
  .footersign-terms{
    color : white;
    text-decoration: underline;
  }
  .footersign{
    color: aliceblue;
  }
  .footersign-terms:hover{
    color: #eab2bb;
  }
}

.terms{
  text-align: end;
}

.footersign {
  color: #888;
  transition: all 300ms;
}

.footersign-terms {
  color: #888;
  transition: all 300ms;
}

.footersign-terms:hover{
  color: #eab2bb;
}