#version: "3.8"

services:
  front:
    build:
      context: ./services/frontend
    ports:
      - "5173:80"
    depends_on:
      - users-service
    networks:
      - backend

  postgres:
    build:
      context: ./services/database
    container_name: postgresql_cont
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    restart: unless-stopped
    ports:
      - "5432:5432"
    networks:
      - backend
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 20

  adminer:
    image: adminer:latest
    container_name: adminer_cont
    restart: unless-stopped
    ports:
      - "8080:8080"
    networks:
      - backend
    depends_on:
      - postgres

  gateway:
    build:
      context: .
      dockerfile: ./services/gateway/Dockerfile
    container_name: gateway_cont
    environment:
      - JWT_SECRET=${JWT_SECRET}
    restart: unless-stopped
    ports:
      - "5000:5000"
    networks:
      - backend
    depends_on:
      - postgres
  
  auth-service:
    build:
      context: .
      dockerfile: ./services/auth/Dockerfile
    container_name: auth_cont
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - postgres
      - gateway

  users-service:
    build:
      context: .
      dockerfile: ./services/users/Dockerfile
    container_name: users_cont
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - DATABASE_URL=${DATABASE_URL}
    restart: unless-stopped
    networks:
      - backend
    depends_on:
      - postgres
      - gateway

networks:
  backend:

volumes:
  postgresql_data: