.spinner > div {
    
    height: 100%;
    width: 100%;
    position: absolute;
    border: 2px solid #eab2bb;
}

.spinner{
    transform-style: preserve-3d;
    transform : rotate(45deg) rotateX(-25deg) rotateY(25deg);
}

.spinner > div:nth-child(1){
    transform: translateZ(-22px) rotateY(180deg);
}

.spinner > div:nth-child(2){
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}

.spinner > div:nth-child(3){
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}

.spinner > div:nth-child(4){
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;

}

.spinner > div:nth-child(5){
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
    
}

.spinner > div:nth-child(6){
    transform: translateZ(22px);
}

@keyframes spin {
    50%{
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
    100%{
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}

.spinner{
    animation: spin 2s infinite ease;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 40px auto;
}