.profile-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column ;
    /* border : solid red 10px; */
    margin : 2%;
    height: 1000px;
    align-items: row;
    gap: 30px;
}

.profile-picture{
    border: solid white 10px;
    display: flex;
    border-radius: 150px;
    height: 250px;
    width: 250px;
    transition: all 300ms;
}

.profile-picture:hover{
    border: solid #eab2bb 10px;
    box-shadow: 0 8px 16px #eab2bb;

}
.personal-infos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold ;
    color: #eab2bb;
    display: flex;
    border: solid #858585 10px;
    border-radius: 40px;
    height: 250px;
    background-color: whitesmoke;
    justify-content: center;
    transition: all 300ms;
}

.personal-infos:hover{
  box-shadow: 0 8px 16px #eab2bb;
  border: #eab2bb solid 10px;
  background-color: white;
}
