.profile-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column ;
    /* border : solid red 10px; */
    margin : 2%;
    height: 1000px;
    align-items: row;
    gap: 30px;
}

.profile-picture{
    /* border: solid white 10px; */
    display: flex;
    border-radius: 150px;
    height: 250px;
    width: 250px;
    transition: all 300ms;
}
.profilepic{
    /* display: flex; */
    border-radius: 150px;
    height: 250px;
    width: 250px;
    transition: all 300ms;
}
.profilepic:hover{
    border: solid #eab2bb 10px;
    box-shadow: 0 8px 16px #eab2bb;
}
.profile-picture:hover{
    /* border: solid #eab2bb 10px; */
    box-shadow: 0 8px 16px #eab2bb;
}
.personal-infos{

    /* display: flex; */
    border: solid #858585 10px;
    border-radius: 40px;
    height: 300px;
    background-color: whitesmoke;
    /* justify-content: center; */
    transition: all 300ms;


}
.div-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold ;
    color: #eab2bb;
}
.personal-infos:hover{
  box-shadow: 0 8px 16px #eab2bb;
  border: #eab2bb solid 10px;
  background-color: white;
}

.infos{
    font-size: 20px;
    text-align: start;
    font-weight: 500;
    margin: 15px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre;
}