

.content-container {
    display: flex;
    position: static;
    border: solid 7px #858585;
    width: 75%;
    height: 900px;
    border-radius: 5%;
    background-color: white;
    font-family: Helvetica, sans-serif;
    color: black;
    justify-content: center;
}

.core-container{
    position: relative;
    display: flex;
    top: 20px;
    gap : 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid 10px  red;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    
    margin: 1%;
}
