.header-bar{
    position:relative;
    flex-wrap: wrap;
    background-color: #545454;
    /* align-items: flex-start; */
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    -ms-flex-item-align: auto;
    top: 0;
    height: 50px;
    z-index: 2;
    display:flex;
    padding: 12px;

}

.cosmetic-header{
    border: solid #858585 7px;
    z-index: 1;
}

.left-menu{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-height: 440px;
    max-width: 335px;
    z-index: 3;
    /* debug */
    border: solid red 7px;
}

.search-bar{
    display: flex;
    /* right: 0; */
    top : 10px;
    margin: 0px 20px;
}

.group-search-bar{
    display: flex;
    /* right: 250px; */
    top: 10px;
    margin: 0 20px;
}

.btn {
  background-color: #eab2bb;
  color: white;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  width: 300px;
  font-size: 18px;
  transition: all 300ms;
  text-align: center;
  filter: drop-shadow(0 2px 2px #545454);
  margin: 10px;
}