

.welcome-transition{
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 8); 
}

.favicon:hover{
  filter: drop-shadow(3px 0 2em #eab2bb);
  transform: scale(2);
  transition: transform 330ms ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoheader {
  display: block;
  top: 0;
  margin: 0;
  padding: 0;
  position: relative ;
  height: 250px;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #545454);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #eab2bb);

}
.logoheader:hover {
  filter: drop-shadow(0 0 1em #eab2bb);
  transform: scale(1.1);
  transition: transform 330ms ease-in-out;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 30s linear;
  }
}

.card {
  padding: 2em;
}

a{
  color: #eab2bb;
}

.feild{
  background-color: white;
  color: #eab2bb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  width: 200px;
  font-size: 18px;
  margin: 8px 0;
  transition: all 500ms;
  text-align: centre;
}

.field-name{
  color: #545454;
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
  border-radius: 5px;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: #f9f9f9;
  transition: all 0.2s;
}

.welcome-title{
  filter: none;
}
.welcome-title:hover{
  filter: drop-shadow(0 0 1em #eab2bb);
}

.header-container {
  /* position */
  position: relative;
  display: flex;
  top: 30px;
  /* style */
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0px;

  /* debug */
  /* border: solid red 10px; */
}

.btn-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  
  /* debug */
  /* border: solid red 10px; */
}

.form-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  /* debug */
  /* border: solid red 10px; */
}

.form-connexion-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;

  /* debug */
  /* border: solid red 10px; */
}
.favicon {
  /* position */
  display: block;
  position: relative;
  margin: 40px auto;
  /* style */
  will-change: filter;
  transition: filter 300ms;
  animation: logo-spin infinite 20s linear;
  filter: drop-shadow(0 0 1em #545454);
  height: 90px;
  padding: 1.5em;
}