.log-title {
  position: block;
  top: 0;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
  background: linear-gradient(to right, #eab2bb, #545454);
  -webkit-background-clip: text;
  background-clip: text;

}