
.friend-list-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.friend-list-container h3 {
    font-size: 24px;
    color: #eab2bb;
    font-weight: bold;
    margin-bottom: 10px;
}

.friend-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    width: 100%;
}

.friend-card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: white;
    border: 2px solid #eab2bb;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.friend-card:hover {
    box-shadow: 0 8px 16px rgba(234, 178, 187, 0.6);
    transform: translateY(-3px);
}

/* Avatar */
.friend-card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.friend-card img:hover {
    border: 3px solid #eab2bb;
    box-shadow: 0 4px 12px rgba(234, 178, 187, 0.6);
}


.friend-card .friend-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.friend-card .friend-info .username {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.friend-card .friend-info .status {
    font-size: 14px;
    color: #777;
}

.friend-card .checkbox-wrapper-5 {
    margin-left: auto;
}

.request-card {
    border: 2px solid #eab2bb;
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    background-color: #fff5f7;
}

.request-card:hover {
    box-shadow: 0 8px 16px rgba(234, 178, 187, 0.6);
    transform: translateY(-3px);
}

.request-card button {
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    background-color: #eab2bb;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.request-card button:hover {
    background-color: #d49aa5;
    transform: scale(1.05);
}