.friend-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: start;
    border: 2px solid #eab2bb;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    transition: all 300ms;
    .checkbox-wrapper-5{
        text-align: right;
        margin-right: 15px;
    }
        img {
        width: 50px;           /* Set size */
        height: 50px;          /* Set size */
        border-radius: 50%;    /* Makes it round */
        object-fit: cover;     /* Keeps image proportions */
    }
}

.friend-card:hover {
    background-color: white;
    box-shadow: 0 8px 10px #eab2bb;
}

.friend-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
}