#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.page-wrapper {
  margin-top: 0px;
  position: relative;
  min-height: 100vh;
  overflow-x: auto;
  width: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #f6f4f4;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #eab2bb;
    border-radius: 10px;
    border: #858585 solid 1px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #d89aa4;
}

.core-container {
    display: flex;
    height: 100%;
    gap: 10px;
    margin: 1%;
}

@media (max-width: 900px) {
    .core-container {
        flex-direction: column;
    }
}