#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}
body {
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.page-wrapper {
  margin-top: 0px;
  position: relative;
  min-height: 100vh;
  overflow-x: auto;
  width: 100%;
}

