#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.welcome-transition{
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 8);
  margin-bottom: calc(var(--spacing) * 8); 
}

.favicon {
  height: 90px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  left: 0;
  top: 0;
  animation: logo-spin infinite 20s linear;
  filter: drop-shadow(0 0 1em #545454);
}

.favicon:hover{
  filter: drop-shadow(3px 0 2em #eab2bb);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoheader {
  position: fixed;
  top: 5rem;              /* Hauteur depuis le haut */
  left: 50%;              /* ⚠️ IMPORTANT : position à 50% */
  transform: translateX(-50%);  /* ⚠️ IMPORTANT : décale de la moitié de sa largeur */
  height: 250px;
  padding: 10px;
  z-index: 100;           /* ⚠️ IMPORTANT : pour être au-dessus */
  will-change: filter;
  transition: filter 300ms;
  animation: slidein;
  filter: drop-shadow(0 0 2em #545454);
}
.logo:hover {
  filter: drop-shadow(0 0 2em #eab2bb);
}
.logoheader:hover {
  filter: drop-shadow(0 0 1em #eab2bb);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 30s linear;
  }
}

.card {
  padding: 2em;
}

a{
  color: #eab2bb;
}

.feild{
  background-color: white;
  color: #eab2bb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  width: 200px;
  font-size: 18px;
  margin: 8px 0;
  transition: all 500ms;
  text-align: centre;
}
/* code{
  color: white;
} */

.field-name{
  color: #545454;
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
  border-radius: 5px;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: #f9f9f9;
  transition: all 0.2s;
}

.welcome-title{
  filter: none;
}
.welcome-title:hover{
  filter: drop-shadow(0 0 1em #eab2bb);
}
