#root {
  margin: 0 ;
  padding: 0;
  text-align: center;
}

.favicon {
  height: 90px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  left: 0;
  top: 0;
  animation: logo-spin infinite 20s linear;
  filter: drop-shadow(0 0 1em #545454);
}

.favicon:hover{
  filter: drop-shadow(3px 0 2em #eab2bb);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logoheader{
  height: 250px;
  padding: 10px;
  will-change: filter;
  transition: filter 300ms;
  animation: slidein;
  filter: drop-shadow(0 0 2em #545454);
}

.logo:hover {
  filter: drop-shadow(0 0 2em #eab2bb);
}
.logoheader:hover {
  filter: drop-shadow(0 0 1em #eab2bb);
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 30s linear;
  }
}

.card {
  padding: 2em;
}

.footersign {
  color: #888;
}

button {
  background-color: #eab2bb;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 50px;
  width: 300px;
  font-size: 18px;
  margin: 8px 0;
  transition: all 500ms;
  text-align: centre;
  filter: drop-shadow(0 2px 2px #545454);

}

.submit{
  background-color: #eab2bb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  width: 200px;
  font-size: 18px;
  margin: 8px 0;
  transition: all 500ms;
  text-align: centre;
}

button:hover {
  background-color: #545454;
  font-size: 19px;
  text-align: centre;
  box-shadow: 0 8px 16px #eab2bb;
}

a{
  color: #eab2bb;
}

.feild{
  background-color: white;
  color: #eab2bb;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 35px;
  width: 200px;
  font-size: 18px;
  margin: 8px 0;
  transition: all 500ms;
  text-align: centre;
}
code{
  color: white;
}

.field-name{
  color: #545454;
  float: left;
  clear: left;
  width: 100%;
  padding-bottom: 1em;
  border-radius: 5px;
}

label .password-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 20px;
  color: #f9f9f9;
  transition: all 0.2s;
}

.footer{
  background-color: #545454;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.welcome-title{
  filter: none;
}
.welcome-title:hover{
  filter: drop-shadow(0 0 1em #eab2bb);
}