.content-wrapper-policy{
    border : solid #eab2bb 3px;
    border-radius: 50px;
    width: 1000px;
    height: 1200px;
    background-color: rgba(255, 255, 255, 0.39);
    transition: all 300ms;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-wrapper:hover{
    background-color: rgba(255, 255, 255, 0.585);
    border : solid #eab2bb 6px;
}

.header {
    font-size: 40px;
    position: relative;
    left: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 900;
}

.date{
    text-align: end;
    margin-right: 20px;
    position: static;
}

.category-title{
    font-weight: bolder;
    text-align: start;
    margin-left: 40px;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text{
    text-align: start;
    margin-left: 20px;
}

li{
    text-align: start;
    margin-left: 50px;
}

button{
  background-color: #eab2bb;
  color: white;
  padding: 12px 24px;
  border: none;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  font-size: 30px;
  transition: all 300ms;
  text-align: center;
  filter: drop-shadow(0 2px 2px #545454);
  margin: 10px;
}